.menu-button {
    background-color: transparent;
    border-color: transparent;
	border-style: solid;
}

.menu-button h1 {
    color: white;    
}

.menu-button :hover {
    color: greenyellow;
}

.back-button {
    background-color: transparent;
    border: transparent;
}